@use "variables" as v;

/* ------------------- */
/* Reset               */
/* ------------------- */
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}

body {
  color: v.$clr-white;
  font-family: v.$ff-serif;
  font-size: v.$fs-18;
  background-color: v.$clr-dark;
  min-height: 100vh;
  font-style: normal;
  line-height: normal;
}

/* make images easier to work with */
img,
picture {
  max-width: 100%;
  height: auto;
  display: block;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
