//font-family
$ff-serif: "Bellefair", serif;
$ff-sans-normal: "Barlow", sans-serif;
$ff-sans-cond: "Barlow Condensed", sans-serif;

//media-queries
$telefono: 375px;
$tablet: 768px;
$desktop: 1024px;

//colors
$clr-dark: #0b0d17;
$clr-light: #d0d6f9;
$clr-white: #fff;

//font-sizes
$fs-150: 15rem;
$fs-100: 10rem;
$fs-56: 5.6rem;
$fs-32: 3.2rem;
$fs-28: 2.8rem;
$fs-18: 1.8rem;
$fs-16: 1.6rem;
$fs-15: 1.5rem;
$fs-14: 1.4rem;

//spacing
$spacing-01: 4.75px;
$spacing-02: 2.7px;
$spacing-03: 2.35px;
